



.hero {
  background-image: url(../img/bg/bg-hero.jpg); 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 
  // background-position: 50%;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}


.header__logo {
  margin-right: auto;
}

.nav {
  margin-right: rem(15px);
  display: flex;
  &__list {
    margin: 0;
    padding: 0;
  }
}

.nav__list {
  display: flex;
  margin-right: 14px;
}

.nav__item {
  display: flex;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  &:after {
    display: block;
    content: "";
    @include circle (4px, #fff);
    margin: 0 12px;
  }
  &:last-child::after {
    display: none;
  }
}

.nav__link {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover {
    text-decoration: underline;
  }
}
// с underline transition не работает.как сделать? udemy omnifood


.hero__inner-container {
  justify-content: flex-start;
}

.hero__container {
  flex: 1;
  align-items: center;
  display: flex;
}

.hero__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // flex-grow: 1;
  align-items: center;
  padding-bottom: 15%;
  // height: 100%;
}


.hero__content-img, .hero__content-text {
  flex-basis: 50%;
  display: flex;
}

.hero__burger {
  max-width: 95%;
}

.hero__content-text {
  flex-direction: column;
  justify-content: center;
}


.hero__content-description {
  color: #fff;
  font-family: 'lifehack';
  font-size: rem(65px);
  font-weight: 400;
  line-height: 1;
}

