



.order {
  background: url(../img/bg/bg-order.jpg) center center / cover no-repeat;
  color: #fff;
}

.order__form {
  display: flex;
}

.column__one, .column__two {
  flex-basis: 50%;
}


.radio__btn, .form__call-option, .form__text {
  margin-right: 7px;
  // vertical-align: center;
}

.form__input {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
}

.form__title, .form__text, .btn__link-clear {
  font-family: 'ubuntu';
  font-size: 14px;
  font-weight: 300;
  margin-bottom: rem(5px);
}


.form__row {
  display: flex;
  margin-bottom: rem(17px);
}

.form__block {
  flex: 1;
  margin-right: rem(25px);
}

.form__input--comment {  
  min-height: rem(115px);
}

.form__option, .form__call {
  display: flex;
  margin-right: rem(20px);
  // &:last-child {
  //   margin-right: 0;
  // }
}


.btn__link-clear {
  text-decoration: none;
  color: #fff;
  margin-left: rem(25px);
  display: block;
  padding-top: rem(10px);
}

.form__text {
  padding-top: 7px;
}